@model GymManagementApp.Models.Egitmen

@{
    ViewData["Title"] = "Delete";
}

<h1>Eğitmen Sil</h1>

@if (ViewBag.HataMesaji != null)
{
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        @ViewBag.HataMesaji
    </div>
}

<h3>Bu eğitmeni silmek istediğinizden emin misiniz?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzmanlikAlani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzmanlikAlani)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
