@model IEnumerable<GymManagementApp.Models.Egitmen>

@{
    ViewData["Title"] = "Index";
}

<h1>EĞİTMENLERİMİZ</h1>


@if (User.IsInRole("Admin"))
{ 
<p>
    <a asp-action="Create">Yeni Eğitmen Ekle</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzmanlikAlani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UzmanlikAlani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Ad)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>

                    }

            </td>
        </tr>
}
    </tbody>
</table>
