@model GymManagementApp.Models.HizmetPaketi

@{
    ViewData["Title"] = "Details";
}

<h1>Hizmet Paketi Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucret)
        </dd>

    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
        <span> | </span>
    }
    <a asp-action="Index">Listeye Dön</a>
</div>
