@model IEnumerable<GymManagementApp.Models.HizmetPaketi>

@{
    ViewData["Title"] = "Index";
}

<h1>HİZMET PAKETLERİ</h1>
@if (User.IsInRole("Admin"))
{
    <p>
    <a asp-action="Create">Yeni Hizmet Paketi Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucret)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    }               
             
            </td>
        </tr>
}
    </tbody>
</table>
